* {
    font-family: Calibre, Helvetica, Arial, sans-serif;
}
/* gray rgb(234, 232, 228) */
body {
    color: rgb(40, 64, 12);
    background-color: rgb(243, 242, 239);
    margin: auto;
}
.header__terms {
    background-color: rgb(234, 232, 228);
    min-height: 40px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__terms > span {
    font-size: 12.72px;
    font-weight: 700;
}
span > a {
    text-decoration: none;
    border-bottom: 1px solid rgb(194, 194, 194);;
}
.navbar {
    width: 100%;
}
.navbar__logo-svg {
    width: 154px;
}
